.testCard {
    display: flex;
    align-items: center;
    background: var(--main-color);
    padding: 27px 50px;
    width: var(--test-card-width);
    justify-content: space-between;
    color: var(--secondary-color);
    border-radius: 24px;
}

.testCard.disabled {
    color: var(--main-light-color);
}

.img {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 100%;
}

.img.disabled {
    opacity: 0.5;
}

.block {
    margin: 0 27px 
}

.title {
    font: var(--font-h1);
    margin-bottom: 15px;
}

.text {
    font: var(--font-h2);
}


@media screen and (max-width: 910px) {


    .img {
        width: 85px;
        height: 85px;
        margin-bottom: 20px;
    }

    .text {
        margin-bottom: 20px;
    }

    
    .testCard{
        padding: 27px 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

  
}