.testingTable {
    margin: 50px 0 30px 0;
}

.link {
    align-self: flex-end;
    margin: 0 10px;
    margin-bottom: 64px;
}

.testigPage {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 -10px;
}


@media screen and (max-width: 550px) {
    .buttons {
        flex-direction: column;
        margin: 0;
    }

    .link {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
    }
}