.input {
    display: none;   
}

.radioButton {
    display: flex;
}


.label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    font: var(--font-h2);
    color: var(--secondary-color);
    padding-left: 50px;

}

.label::before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.label::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translate(25%, -50%);
}

.input:checked + .label::after {
    background: var(--main-color);
}

.disabled > .label {
    color: var(--disabled-dark-color);
}
.disabled > .label::before {
    background: var(--disabled-dark-color);
}


.wrong > .label {
    color: var(--error-color) !important;
}
.wrong > .label::after {
    background: var(--error-color) !important;
}

.correct > .label::before,
.wrong > .label::before {
    background: #fff ;
}



.correct > .label {
    color: var(--success-color) !important ;
}

.correct > .label::after {
    background: var(--success-color) !important;
}
