
.button:not(:last-child) {
    margin-bottom: 15px;
}

.text {
    font: var(--font-h2);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 15px;
}

.title {
    font: var(--font-h1);
    color: var(--secondary-color);
    margin-bottom: 15px;
    text-align: center;
}



