.btn{
    margin-bottom: 120px;
}

.block {
    max-width: 45.83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.homeMain{
    display: block;
    position: relative;
}


.homeMain::before{
    content: "";
    display: block;    
    position: absolute;
    background: url('../../../../assets/img/dog.png') center no-repeat;
    width: 343.81px;
    height: 417.92px;
    right: -50px;
    bottom: 50px;
}