.border{
    padding: 50px 80px 55px 80px;
    background: var(--main-color);
    border-radius: 24px;
    margin-bottom: 50px;
}

.h1{
    color: var(--secondary-color);
    font: var(--font-h1);
    margin-bottom: 15px;
}

.p{
    color: var(--secondary-color);
    font: var(--font-h2);
}