

#root, .App {
    height: 100%;
}



.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('../../assets/img/bg-line.svg');
    background-repeat: no-repeat;
    background-position: 0 155px;
    background-size: 100%;
}

.container{ 
    width: 67.18vw;
    margin: 0 auto;
}


:root{

    /* fonts params */
    /* -------------------------------------------------------------------------------------------- */
    --font-family: 'Montserrat', Serif;


    --font-size-h1: 26px;
    --font-line-h1: 34px;
    --font-weight-h1: 800;
    --font-h1: var(--font-weight-h1) var(--font-size-h1) / var(--font-line-h1) var(--font-family) ;

    --font-size-h2: 20px;
    --font-line-h2: 28px;
    --font-weight-h2: 600;
    --font-h2: var(--font-weight-h2) var(--font-size-h2) / var(--font-line-h2) var(--font-family) ;

    --font-size-h3: 18px;
    --font-line-h3: 26px;
    --font-weight-h3: 600;
    --font-h3: var(--font-weight-h3) var(--font-size-h3) / var(--font-line-h3) var(--font-family) ;
/* -------------------------------------------------------------------------------------------------------- */

    /* colors params */
    --main-color: #480660;
    --main-light-color: rgba(255, 255, 255, 0.5);
    --secondary-color: #fff;
    --pink-color: rgba(72, 6, 96, 0.4);


}