.ProfilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 0 74px;
}

.button {
    margin-top: 38px;
}


.link {
    font: var(--font-h3);
    font-weight: 500;
    text-decoration: underline;
}

.resetPassword {
    font: var(--font-h3);
    font-weight: 500;
    color: var(--main-color);
    margin-top: 38px;
    max-width: 163px;
    text-align: right;
}


.row{
    display: flex;
}