.input {
    display: none;
}


.label {
    display: block;
    font: var(--font-h2);
    color: var(--secondary-color);
    position: relative;
    cursor: pointer;
}

.label::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    border-radius: 8px;
    z-index: 3;
}

.label::after{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transform: translateY(-50%);
    z-index: 4;
}

.input:checked + .label::after
 {  
    background-image: url('data:image/svg+xml, \ <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.2101 0.446198C27.0198 0.899688 27.6163 1.65621 27.8683 2.54941C28.1203 3.4426 28.0073 4.39933 27.5541 5.2092L16.0441 25.7632C15.7526 26.2839 15.3483 26.7328 14.8608 27.077C14.3733 27.4211 13.8149 27.6519 13.2267 27.7523C12.6384 27.8527 12.0352 27.8202 11.4611 27.6571C10.8871 27.4941 10.3568 27.2048 9.90907 26.8102L1.18607 19.1262C0.489615 18.5125 0.0654773 17.6472 0.00696601 16.7208C-0.0515453 15.7944 0.260363 14.8827 0.874074 14.1862C1.48778 13.4897 2.35303 13.0656 3.27946 13.0071C4.20589 12.9486 5.11762 13.2605 5.81407 13.8742L11.7501 19.1042L21.4461 1.7902C21.6706 1.38913 21.972 1.03621 22.3329 0.75161C22.6939 0.467006 23.1073 0.256287 23.5497 0.131483C23.9921 0.00667979 24.4547 -0.0297629 24.9112 0.0242361C25.3677 0.0782351 25.809 0.221618 26.2101 0.446198Z" fill="%23480660" /></svg>');
}

.input + .left::after {
    left: 3px;
}

.input + .right::after {
    right: 3px;

}

.left {
    padding-left: 86px;
}

.right {
    padding-right: 86px;
}

.left::before {
    left: 0;
}

.right::before {
    right: 0;
}


.disabled > .label {
    color: var(--disabled-dark-color);
}
.disabled > .label::before {
    background: var(--disabled-dark-color);
}


.wrong > .label {
    color: var(--error-color);
}
.wrong > .label::after {
    background-image: url('data:image/svg+xml, \ <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.53472 0.417243L8.5 6.38227L14.4344 0.44815C14.5655 0.308632 14.7234 0.197023 14.8986 0.120015C15.0739 0.0430066 15.2629 0.00218565 15.4543 0C15.8642 0 16.2573 0.162812 16.5471 0.452621C16.8369 0.742429 16.9997 1.13549 16.9997 1.54534C17.0034 1.73481 16.9682 1.92301 16.8964 2.09839C16.8247 2.27378 16.7179 2.43266 16.5825 2.56527L10.5708 8.49939L16.5825 14.5108C16.8372 14.7599 16.9866 15.0974 16.9997 15.4534C16.9997 15.8633 16.8369 16.2563 16.5471 16.5462C16.2573 16.836 15.8642 16.9988 15.4543 16.9988C15.2574 17.0069 15.0609 16.9741 14.8773 16.9022C14.6937 16.8304 14.5271 16.7212 14.388 16.5815L8.5 10.6165L2.55018 16.5661C2.4196 16.7009 2.2636 16.8086 2.09119 16.8829C1.91878 16.9572 1.73337 16.9965 1.54566 16.9988C1.13579 16.9988 0.742712 16.836 0.452891 16.5462C0.163071 16.2563 0.000251448 15.8633 0.000251448 15.4534C-0.00335166 15.264 0.0318016 15.0758 0.103554 14.9004C0.175307 14.725 0.282145 14.5661 0.417512 14.4335L6.42915 8.49939L0.417512 2.488C0.162805 2.23883 0.0134486 1.90141 0.000251448 1.54534C0.000251448 1.13549 0.163071 0.742429 0.452891 0.452621C0.742712 0.162812 1.13579 0 1.54566 0C1.91656 0.00463603 2.272 0.154534 2.53472 0.417243Z" fill="%23F2778D" /></svg>') !important;
    background-size: contain;
}
/* %23F2778D */
.correct > .label::before,
.wrong > .label::before {
    background: #fff ;
}



.correct > .label {
    color: var(--success-color) ;
}

.correct > .label::after {
    background-image: url('data:image/svg+xml, \ <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.2101 0.446198C27.0198 0.899688 27.6163 1.65621 27.8683 2.54941C28.1203 3.4426 28.0073 4.39933 27.5541 5.2092L16.0441 25.7632C15.7526 26.2839 15.3483 26.7328 14.8608 27.077C14.3733 27.4211 13.8149 27.6519 13.2267 27.7523C12.6384 27.8527 12.0352 27.8202 11.4611 27.6571C10.8871 27.4941 10.3568 27.2048 9.90907 26.8102L1.18607 19.1262C0.489615 18.5125 0.0654773 17.6472 0.00696601 16.7208C-0.0515453 15.7944 0.260363 14.8827 0.874074 14.1862C1.48778 13.4897 2.35303 13.0656 3.27946 13.0071C4.20589 12.9486 5.11762 13.2605 5.81407 13.8742L11.7501 19.1042L21.4461 1.7902C21.6706 1.38913 21.972 1.03621 22.3329 0.75161C22.6939 0.467006 23.1073 0.256287 23.5497 0.131483C23.9921 0.00667979 24.4547 -0.0297629 24.9112 0.0242361C25.3677 0.0782351 25.809 0.221618 26.2101 0.446198Z" fill="%2367BD7F" /></svg>') !important;
}